{% extends "base.html" %}

{% block page_title %}Bienvenido a Vellum{% endblock %}
{% block content %}

{% import "_macros.html" as macros %}




<div id="vellumCarousel" class="carousel slide border-bottom border-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#vellumCarousel" data-bs-slide-to="0" class="active bg-dark" aria-current="true"></button>
        <button type="button" data-bs-target="#vellumCarousel" data-bs-slide-to="1" class="bg-dark"></button>
        <button type="button" data-bs-target="#vellumCarousel" data-bs-slide-to="2" class="bg-dark"></button>
    </div>

    <div class="carousel-inner" >
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="static/img/VELLUM_primero.png" 
                 class="d-block w-100 grayscale object-cover" alt="Luxury Leather 1" object-position: center">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="static/img/VELLUM_segundo.png" 
                 class="d-block w-100 grayscale object-cover" alt="Luxury Leather 2" object-position: center">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#vellumCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark p-3" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#vellumCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark p-3" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>




{% endblock %}