{% extends "layout.html" %}
{% block content %}

{% import "_macros.html" as macros %}


<form class="max-w-sm mx-auto py-10" method="POST">
    {{form.csrf_token}}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="mb-5">
        {{macros.nuevoMacro(form.username, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer")}}
    </div>
    <div class="mb-5">
        {{macros.nuevoMacro(form.password, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer")}}
    </div>
    </div>

    <button type="submit"
        class="text-white bg-black hover:bg-blue-70 box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Entrar a Vellum</button>
</form>



{% endblock %}